* {
    padding: 0;
    margin: 0;
}

.lines {
    display: flex;
    height: 2.5px;
  }

.red-line {
background-color: red;
width: 40px;
}

.gray-line {
background-color: gray;
width: 88%;
}

input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 24px;
	height: 24px;
	-webkit-appearance: none;
  /* @apply w-6 h-6 appearance-none pointer-events-auto; */
  }


  .product-list-div {
    margin-top: 5px;
    padding-top: 5px;
  }
  
  .product-list-div ul li {
    margin-left: 0px;
    list-style-position: inside;
    list-style-type: disc;
  }
  
  .product-list {
    margin-left: 5px;
  }
  
  .product-list-div ul li {
    margin: auto;
    padding: 5px;
    border-bottom: 1px dashed rgba(87, 87, 87, 0.671);
  }